<div role="tabpanel" class="tab-pane active" id="globalview">
  <%= render partial: 'global_view', locals: {device: device} if device %>
</div>
<div role="tabpanel" class="tab-pane" id="mqttclient">
  <%= render partial: 'mqtt_client', locals: {device: device} if device %>
</div>
<div role="tabpanel" class="tab-pane" id="management">
  <%= render partial: 'management_device', locals: {device: device, templates: templates} if device %>
</div>