<div class="text-in ">
  <% is_hash = api_json[1].is_a?(Hash) %>
  <div class="lineone">
    <div class="text-orange">
      <p><%= api_json[0] %>:</p>
    </div>
    <div class="<%=  is_hash ? 'pad-left-10' : 'text-green' %>">
      <% if is_hash %>
          <%= render partial: 'devices/show_api_data', collection: api_json[1], as:  :api_json %>
      <% else %>
          <p>"<%= api_json[1] %>"</p>
      <% end %>
    </div>
  </div>
</div>