<div class="alert-success device-alert-message"></div>
<div class="top-panel" id="device-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="page-title">Devices</div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="page-breadcrumbs">
          <ul>
            <li>
              <a href="#">Devices</a>
            </li>
            <li>IOT Hub Scinap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-container">
  <div class="tab-section page-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <% tab_list.each_with_index do|(ref, text), index| %>
              <li role="presentation" class="<%= index.eql?(0) ? 'active' : '' %> js-device-li">
                <%= link_to text, '#' + ref, 'aria-controls' => ref, role: 'tab', 'data-toggle' => 'tab', class: 'js-device-tab' %>
              </li>
            <% end %>
          </ul>
          <div class="col-xs-12">
            <div class="tabing-select">
              <div class="custom-dropdown select whtab">
                <%= devices_dropdown %>
              </div>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content" id="deviceTabs">
            <%= render partial: 'device_tabs', locals: {device: @device, templates: @templates, message: @message, topic: @topic} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

<script type="text/jscript">
function connect_mqtt() {
$('#conn_type').val('connect');
$('#mqtt_frm').submit();
}
</script>
