<div class="top-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="page-title">Device Management</div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="page-breadcrumbs">
          <ul>
            <li><a href="#">Devices</a></li>
            <li>IOT Hub Scinap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= render partial: 'devices/device_form', locals: {device: @device} %>

        <div class="col-xs-12 col-sm-12">
          <div class="panel-box">
            <div class="panel-head">
              <h2>Devices</h2>
            </div>
            <div class="device-detail-table">
              <div class="table-responsive">
                <table class="table table-striped fixed_headers three-column">
                  <thead>
                    <tr>
                      <th>Device Name</th>
                      <th>Tempate Name</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody style="height:175px;">
                    <% @devices.each do |device| %>
                      <tr>
                        <td><%= device.name %></td>
                        <td><%= device.template.name %></td>
                        <td><%= link_to image_tag('edit-icon.svg'), edit_device_path(id: device.id) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

<script>
  $('#device_image').change(function(event) {
      $('#displayImage').attr('src',URL.createObjectURL(event.target.files[0]));
  })
</script>