<div class="top-panel">
   <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-sm-6">
              <div class="page-title">Templates</div>
          </div>
          <div class="col-xs-12 col-sm-6">
              <div class="page-breadcrumbs">
                 <ul>
                    <li><a href="#">Templates</a></li>
                 </ul>
              </div>
          </div>
      </div>
   </div>
</div>
<div class="middle-container">
  <div class="tab-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="custom-dropdown select whtab">
            <%= templates_dropdown  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="template-index">
    <%= render partial: 'templates/index', locals: {template: @template} %>
  </div>
</div>
<div class="clear"></div>
